<div class="row clearfix">
  <% if todo_item.completed? %>
    <div class="row">
      <div class="col-3">
        <%= link_to "Mark as Complete", complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch, class: "btn btn-success"  %>
      </div>
      <div class="col-6">
        <p style="opacity: 0.4;"><strike><%= todo_item.content %></strike></p>
      </div>
      <div class="col-3">
        <%= link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-3">
        <%= link_to "Mark as Complete", complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch, class: "btn btn-success"  %>
      </div>
      <div class="col-6">
        <p><%= todo_item.content %></p>
      </div>
      <div class="col-3">
        <%= link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>
      </div>
    </div>
  <% end %>
</div>
